<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'>很愛打羽球，大家快找我打羽球！<br><br><a href="./about">想更了解我?</a></div>
</div>
</section>